@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  color: #555;

  /* Only works when if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
  height: inherit;
}

p {
  font-size: 1.2rem;
}

img {
  border-radius: 10px;
  border: 0.7rem solid transparent; /* Set an initial transparent border */
  transition: border-color 0.3s ease-in-out;
}

.heading-primary, .heading-secondary, .heading-tertiar{
  letter-spacing: -1px;
  color: #333;
  text-align: center;
  line-height: 1.2;
  padding: 1.5rem;
}

.heading-primary {
  font-size: 5.4rem;
  font-weight: 700;
}

.heading-tertiar {
  font-size: 4.4rem;
  padding: 1rem 0;
}

.heading-text {
  text-align: center;
}


.header-section {
  width: 50rem;
  padding-bottom: 4rem;
}


.feature-image {
  width: fit-content;
  padding-bottom: 1rem;
}

img:hover {
  border-color:  rgba(255, 0, 0, 0.479);
}
